@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Proveedores</h1>
    <p class="lead">Este sitio muestra informacion relacionada con los proveedores</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
